@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  font-family: 'Inter', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, 
.font-bold, .font-semibold, .font-extrabold {
  font-family: 'Poppins', sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
